_promo/*.afdesign
*.png
!_promo/*.png
*.tga
*.blend[0-9]*
*_autosave_[0-9].spp
*.fbx
_*Ref.*
/FluidPacker/*.ods
desktop.ini
/Audio_Source
/PluginFolder/Saved
/PluginFolder/Binaries
/PluginFolder/Intermediate
/PluginFolder/Metadata/Crypto.json
